
body{
    background-color: #edf0f5;
}
.section{background-color:#3b5998;
height: 70px;
width: 100%;
border-bottom: 1px solid #133783;
padding-bottom: 10px;
}
#gd{
    margin-left: 40px;
}